* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  position: absolute;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  width: 80vh;
  height: 80vh;
  background: url("images/board.png");
  background-size: contain;
  z-index: -1;
}

.container {
  position: absolute;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  width: 80vh;
  height: 80vh;
  z-index: 1;
}
